:root {
  --black: #111111;
  --white: #ffffff;
  --gray-200: #e4e4e7;
  --gray-500: #71717a;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
